// COLORS
$color-primary: #9a7d2d;
$color-primary-light:#e1d5b2;
$color-primary-dark: #584614;

$color-secondary-light: rgb(223, 165, 129);
$color-secondary-dark: rgb(136, 72, 32);

$color-tertiary-light: rgb(215, 155, 42);
$color-tertiary-dark: rgb(119, 81, 12);

$color-grey-light-1: #e6e0e0;
$color-grey-light-2: rgb(149, 144, 144);

$color-grey-dark: rgb(83, 81, 81);
$color-grey-dark-2: rgb(70, 68, 68);
$color-grey-dark-3: rgb(40, 39, 39);

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;