<div class="page-content">
   
    <div class="page-content-container">
      
        <div class="title">
          <div class="back-btn" (click)="navigateToCategory()">
            <img src="assets/icons/pages/arrow-left-solid-white.svg" alt="">
            Go Back
          </div>
            <h2>{{item?.name}}</h2>
            <span>COD: {{item?.id}}</span>
        </div>
       <div class="description">
        <section class="product">
            <div class="product__photo">
                  
                       <ngb-carousel>
                        <ng-template ngbSlide>
                          <div class="picsum-img-wrapper">
                            <img [src]="item?.imagePath" alt="{{item?.name}}">
                          </div>
             
                        </ng-template>
                        <!-- <ng-template ngbSlide>
                          <div class="picsum-img-wrapper">
                            <img src="assets/images/pages/dashboard/2.jpg" alt="Random second slide">
                          </div>
                     
                        </ng-template>
                        <ng-template ngbSlide>
                          <div class="picsum-img-wrapper">
                            <img src="assets/images/pages/dashboard/3.jpg" alt="Random third slide">
                          </div>
                       
                        </ng-template> -->
                      </ngb-carousel>
                      
    
            </div>
            <div class="product__info">
           
                <div class="price-container">
                    <span class="price-text">Price  :</span>  <span class="price"> ₹  {{item?.price}}</span>
                </div>
              
                <div class="description">
                    <h3>Description</h3>
                    <ul>
                        <li>&nbsp;{{item?.description}}</li>
       
                    </ul>
                </div>
                <!-- <button class="buy--btn">ADD TO CART</button> -->
                <div class="already-in-cart">
                    
                  <a>
                      <span class="circle plus"></span>
                  </a>
                  
                  <span>2</span>
                  
                  <a>
                      <span class="circle minus"></span>
                  </a>
              </div>
            </div>
        </section>
        </div>

    </div>
</div>