<header class="pheader">
    <div class="logo">
        <img src="assets/images/common/logo.png" alt="trillo logo" class="logo">
    </div>
    

    <!-- <form action="#" class="psearch">
        <input type="text" class="psearch__input" placeholder="Search hotels">
        <button class="psearch__button">
            <svg class="psearch__icon">
                <use xlink:href="img/sprite.svg#icon-magnifying-glass"></use>
            </svg>
        </button>
    </form> -->

    <nav class="user-nav">
        <!-- <div class="user-nav__icon-box">
            <svg class="user-nav__icon">
                <use xlink:href="assets/images/common/sprite.svg#icon-bookmark"></use>
            </svg>
            <span class="user-nav__notification">7</span>
        </div> -->
     
        <div class="signout-container" (click)="logout()">
            <img class="side-nav__icon" src="assets/icons/header/logout.svg" class="sign_out-img"  />
           <span class="user-nav__user-name sign_out-label">Sign Out</span>
       </div>

        <div class="user-nav__user">
             <img class="side-nav__icon" src="assets/icons/header/user.svg" class="user-nav__user-photo" />
            <span class="user-nav__user-name">{{profile?.name}}</span>
        </div>


       <div class="user-nav__icon-box" (click)="showCart()">
            <img class="side-nav__icon" src="assets/icons/header/cart.svg" height="22" title="View Cart" />
            <ng-container *ngIf="count > 0">
                <span class="user-nav__notification">{{count}}</span>
            </ng-container>
            
         </div>
    </nav>
</header>
