<div class="page-content">
  <div class="page-content-container">
    <div class="title">
      <h2>Order Preview</h2>
    </div>
    <div class="description">
      <ng-container *ngFor="let category of cart">
        <div class="category">
          <h4>Category : Haldi Jewellery</h4>
        </div>
        <ng-container *ngFor="let item of category?.items">
          <div class="cart-item">
            <div class="image-box">
              <img [src]="item?.imagePath" class="img-cart-item" />
            </div>
            <div class="about">
              <h1 class="c-title">{{ item?.name }}</h1>
            </div>

            <div class="already-in-cart">
              <span>{{ item?.quantity }}</span>
            </div>
            <div class="prices">
              <div class="amount">₹ {{ item?.price }}</div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="noRecords" *ngIf="!cart || cart.length == 0">
        No items to show
      </div>
      <ng-container *ngIf="cart && cart.length > 0">
        <hr />
        <div class="checkout-container">
          <div class="checkout">
            <div class="total">
              <div class="total-text">
                <div class="Subtotal">Total</div>
                <div class="items">{{ itemCount }} items</div>
              </div>
              <div class="total-amount">₹ {{ total }}</div>
            </div>
            <button
              class="button"
              class="confirm"
              [disabled]="disableConfirm"
              (click)="placeOrder()"
            >
              Confirm Order
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #confirm let-modal>
    <div class="modal-body">
      <div class="container">
        <div class="order-placed">
          <div class="order-placed-btn">
            <span class="order-placed-text"> Order Placed ! </span>
          </div>
        </div>

        <div class="order-post-instruction">
          <p class="success-order">
            Your order <b># {{ orderId }}</b> has been placed successfully and
            you can expect a delivery within 12-15 working days.
          </p>
          <div class="instructions">
            <h5>For a smooth delivery, please read following points:</h5>
            <ol>
              <li>
                You can expect a call from our representative within 24 hours.
                During this call, you can explain if any minute alteration in
                case of need and confirm
              </li>
              <li>
                Failing to confirm your order leads to cancellation of your
                order
              </li>
              <li>
                Item will be prepared for you from scratch and you are supposed
                to pay once you confirm the order
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="modal.close('Save click')">
        Go To Order History
      </button>
    </div>
  </ng-template>
</div>
