<div class="navigation"  [ngClass]="{'hide-sidebar': expand, 'show-sidebar': !expand}">
    <input type="checkbox" name="navi-toggle" id="navi-toggle" class="navigation_checkbox">

    <label for="navi-toggle" class="navigation_button"  (click)="expandCollapse()">
        <span class="navigation-icon"> &nbsp;</span>
    </label>
 
</div>
<nav class="sidebar">
  
    <ul class="side-nav" [ngClass]="{'show-sidebar': expand,'small-screen': expand}" (click)="routeSelected()">
        <li class="side-nav__item "   routerLinkActive="side-nav__item--active">
            <a  class="side-nav__link" [routerLink]="['/portal/home']">
                <svg class="side-nav__icon">
                    <use xlink:href="assets/images/common/sprite.svg#icon-home"></use>
                </svg>
                <span>Home</span>
            </a>
        </li>
        <li class="side-nav__item" routerLinkActive="side-nav__item--active">
            <a  class="side-nav__link"  [routerLink]="['/portal/order-history']" >
                <img class="side-nav__icon" src="assets/icons/sidebar/history.svg" />

                <span>Order History</span>
            </a>
        </li>
        <li class="side-nav__item" routerLinkActive="side-nav__item--active">
            <a  class="side-nav__link"  [routerLink]="['/portal/cart']" >
                <img class="side-nav__icon" src="assets/icons/sidebar/cart.svg" />
                <span>View Cart</span>
            </a>
        </li>
        <li class="side-nav__item" routerLinkActive="side-nav__item--active">
            <a  class="side-nav__link"  [routerLink]="['/portal/profile']" >
                <img class="side-nav__icon" src="assets/icons/sidebar/user.svg" />
                <span>Profile</span>
            </a>
        </li>
    </ul>

</nav>