<div class="page-content">
   
    <div class="page-content-container">
        <div class="title">
            <h2>Category Name</h2>
        </div>
       <div class="description">
        <section class="items">
            <div class="item__card">
                <img src="assets/images/pages/dashboard/1.jpg" class="card_image" (click)="openItem()" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p class="price">₹19.99</p>
                <!-- <div class="already-in-cart">
                    
                    <a>
                        <span class="circle plus"></span>
                    </a>
                    
                    <span>2</span>
                    
                    <a>
                        <span class="circle minus"></span>
                    </a>
                </div> -->
                <button>Add to Cart</button>
              </div>
    
    
              <div class="item__card">
                <img src="assets/images/pages/dashboard/1.jpg" class="card_image" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p class="price">₹19.99</p>
                <div class="already-in-cart">
                    
                    <a>
                        <span class="circle plus"></span>
                    </a>
                    
                    <span>2</span>
                    
                    <a>
                        <span class="circle minus"></span>
                    </a>
                </div>
                <!-- <button>Add to Cart</button> -->
              </div>
              <div class="item__card">
                <img src="assets/images/pages/dashboard/1.jpg" class="card_image" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p class="price">₹19.99</p>
                <div class="already-in-cart">
                    
                    <a>
                        <span class="circle plus"></span>
                    </a>
                    
                    <span>2</span>
                    
                    <a>
                        <span class="circle minus"></span>
                    </a>
                </div>
                <!-- <button>Add to Cart</button> -->
              </div>
              <div class="item__card">
                <img src="assets/images/pages/dashboard/1.jpg" class="card_image" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p class="price">₹19.99</p>
                <div class="already-in-cart">
                    
                    <a>
                        <span class="circle plus"></span>
                    </a>
                    
                    <span>2</span>
                    
                    <a>
                        <span class="circle minus"></span>
                    </a>
                </div>
                <!-- <button>Add to Cart</button> -->
              </div>
              <div class="item__card">
                <img src="assets/images/pages/dashboard/1.jpg" class="card_image" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p class="price">₹19.99</p>
                <div class="already-in-cart">
                    
                    <a>
                        <span class="circle plus"></span>
                    </a>
                    
                    <span>2</span>
                    
                    <a>
                        <span class="circle minus"></span>
                    </a>
                </div>
                <!-- <button>Add to Cart</button> -->
              </div>
              <div class="item__card">
                <img src="assets/images/pages/dashboard/1.jpg" class="card_image" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p class="price">₹19.99</p>
                <div class="already-in-cart">
                    
                    <a>
                        <span class="circle plus"></span>
                    </a>
                    
                    <span>2</span>
                    
                    <a>
                        <span class="circle minus"></span>
                    </a>
                </div>
                <!-- <button>Add to Cart</button> -->
              </div>
              <div class="item__card">
                <img src="assets/images/pages/dashboard/1.jpg" class="card_image" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p class="price">₹19.99</p>
                <div class="already-in-cart">
                    
                    <a>
                        <span class="circle plus"></span>
                    </a>
                    
                    <span>2</span>
                    
                    <a>
                        <span class="circle minus"></span>
                    </a>
                </div>
                <!-- <button>Add to Cart</button> -->
              </div><div class="item__card">
                <img src="assets/images/pages/dashboard/1.jpg" class="card_image"  alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <p class="price">₹19.99</p>
                <div class="already-in-cart">
                    
                    <a>
                        <span class="circle plus"></span>
                    </a>
                    
                    <span>2</span>
                    
                    <a>
                        <span class="circle minus"></span>
                    </a>
                </div>
                <!-- <button>Add to Cart</button> -->
              </div>
        </section>
       </div>
     

    </div>

</div>
