<main class="home-view">

    <div class="overview">
        <h1 class="overview__heading">
            Choose A Category
        </h1>

  
    </div>

    <div class="detail">
        <div class="description">
            
            <section class="section-features">

                        <ng-container *ngFor="let category of categories">
                            <div class="feature-box" (click)="openCategory(category?.id)">
                                <img [src]="category?.imagePath" alt="Photo 1" class="category__photo">
                                <h3 class="heading-tertiary">
                                    {{category?.name}}
                                </h3>
                               
                            </div>
                        </ng-container>
                        <div  class="noRecords" *ngIf='categories.length === 0'>No Results</div>

            </section>

        </div>

    </div>
</main>