<main class="home-view">
    <!-- <div class="gallery">
        <figure class="gallery__item">
            <img src="assets/images/pages/dashboard/1.jpg" alt="Photo 1" class="gallery__photo">
        </figure>
        <figure class="gallery__item">
            <img src="assets/images/pages/dashboard/2.jpg" alt="Photo 2" class="gallery__photo">
        </figure>
        <figure class="gallery__item">
            <img src="assets/images/pages/dashboard/3.jpg" alt="Photo 3" class="gallery__photo">
        </figure>
    </div> -->


    <div class="overview">
        <h1 class="overview__heading">
            Choose A Category
        </h1>

  
    </div>

    <div class="detail">
        <div class="description">
            
            <section class="section-features">

          
                        <div class="feature-box">
                            <img src="assets/images/pages/dashboard/1.jpg" alt="Photo 1" class="category__photo">
                            <h3 class="heading-tertiary">
                                Explore the world
                            </h3>
                           
                        </div>
                

        
                        <div class="feature-box">
                            <img src="assets/images/pages/dashboard/1.jpg" alt="Photo 1" class="category__photo">
                            <h3 class="heading-tertiary">
                                Explore the world
                            </h3>
                           
                        </div>
                        <div class="feature-box">
                            <img src="assets/images/pages/dashboard/1.jpg" alt="Photo 1" class="category__photo">
                            <h3 class="heading-tertiary">
                                Explore the world
                            </h3>
                           
                        </div>
                

        
                        <div class="feature-box">
                            <img src="assets/images/pages/dashboard/1.jpg" alt="Photo 1" class="category__photo">
                            <h3 class="heading-tertiary">
                                Explore the world
                            </h3>
                           
                        </div>

            </section>

        </div>

    </div>
</main>