<div class="page-content">
   
    <div class="page-content-container">
      
        <div class="title">
            <h2>Shopping Cart</h2>
        </div>
       <div class="description">
        <div class="category">
            <h4>Category : Haldi Jewellery</h4>
        </div>
        <div class="cart-item">
            <div class="image-box">
                <img src="assets/images/pages/dashboard/1.jpg" class="img-cart-item" />
                </div>
                <div class="about">
                <h1 class="c-title">Apple Juice</h1>
             
                </div>
             
                <div class="already-in-cart">
                    
                    <a>
                        <span class="circle plus"></span>
                    </a>
                    
                    <span>2</span>
                    
                    <a>
                        <span class="circle minus"></span>
                    </a>
                </div>
                <div class="prices">
                    <div class="amount">₹ 2.99</div>     
                    <div class="remove"><u>Remove</u></div>
                </div>
                
            </div>
            <div class="cart-item">
                <div class="image-box">
                    <img src="assets/images/pages/dashboard/1.jpg" class="img-cart-item" />
                    </div>
                    <div class="about">
                    <h1 class="c-title">Apple Juice Apple Juice Apple Juice Apple Juice</h1>
                 
                    </div>
                 
                    <div class="already-in-cart">
                        
                        <a>
                            <span class="circle plus"></span>
                        </a>
                        
                        <span>2</span>
                        
                        <a>
                            <span class="circle minus"></span>
                        </a>
                    </div>
                    <div class="prices">
                        <div class="amount">₹ 2.99</div>     
                        <div class="remove"><u>Remove</u></div>
                    </div>
                    
                </div>


                <div class="category">
                    <h4>Category : Broach</h4>
                </div>
                <div class="cart-item">
                    <div class="image-box">
                        <img src="assets/images/pages/dashboard/1.jpg" class="img-cart-item" />
                        </div>
                        <div class="about">
                        <h1 class="c-title">Apple Juice</h1>
                     
                        </div>
                     
                        <div class="already-in-cart">
                            
                            <a>
                                <span class="circle plus"></span>
                            </a>
                            
                            <span>2</span>
                            
                            <a>
                                <span class="circle minus"></span>
                            </a>
                        </div>
                        <div class="prices">
                            <div class="amount">₹ 2.99</div>     
                            <div class="remove"><u>Remove</u></div>
                        </div>
                        
                    </div>
                    <div class="cart-item">
                        <div class="image-box">
                            <img src="assets/images/pages/dashboard/1.jpg" class="img-cart-item" />
                            </div>
                            <div class="about">
                            <h1 class="c-title">Apple Juice Apple Juice Apple Juice Apple Juice</h1>
                         
                            </div>
                         
                            <div class="already-in-cart">
                                
                                <a>
                                    <span class="circle plus"></span>
                                </a>
                                
                                <span>2</span>
                                
                                <a>
                                    <span class="circle minus"></span>
                                </a>
                            </div>
                            <div class="prices">
                                <div class="amount">₹ 2.99</div>     
                                <div class="remove"><u>Remove</u></div>
                            </div>
                            
                        </div>



                        <hr> 
                        <div class="checkout-container">
                            <div class="checkout">
                                <div class="total">
                                <div class="total-text">
                                <div class="Subtotal">Total</div>
                                <div class="items">2 items</div>
                                </div>
                                <div class="total-amount">₹ 6.18</div>
                                </div>
                                <button class="button" (click)="orderPreview();">Checkout</button>
                            </div>
                        </div>


    </div>
</div>